html,body{
    width: 100%;
    height:100%;
    padding:0;
    margin: 0;
}
p{
    margin: 0;
}
.a{
    cursor: pointer;
}
.hoverscale{
    transition-duration: 0.2s;
    transform: scale(1);
}
.hoverscale:hover{
    transition-duration: 0.2s;
    transform: scale(1.2);
}
.topblank{
    width: 100%;
    height: 40px;
}
nav{
    float: left;
    width: 10%;
    height: 100%;
    /* background-color: blue; */
    /* border-right: 1px solid black; */
    display: flex;
    justify-content: center;
    position: relative;
    overflow: hidden;
}
.leftsection{
    flex-direction: column;
    display: flex;
    align-items: center;
    /* height: 1200px; */
}
main{
    float: left;
    width: 90%;
    height: 100%;
}
.menubar{
    margin-bottom: 40px;
}
.menu{
    position: absolute;
    width: 100%;
    height: 745px;
    background-color: #BDBDBD;
    /* opacity: 0.7; */
    transform: translateY(-100%);
    transition-duration: 0.7s;
    /* display: flex;
    justify-content: center;
    align-items: center; */
    text-align: center;

}

.menu-icon-img{
    width: 40px;   
    margin-top: 10px;
}
.menu-icon-img:hover{
    opacity: 0.4;
    
}
.line{
    margin-top: 4px;
    width: 25px;
    border: 2px solid #424242;
    height: 0.01px;
    border-radius: 999px;
}
.longline{
    width: 0.01px;
    height: 25%;
    border: 1px solid #BDBDBD;
}
#leftp{
    font-weight: bold;
    writing-mode: vertical-rl;;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 10pt;
}
.left-icon{
    width: 30px;
    margin-top: 30px;
    opacity: 0.6;
}


.maincont{
    /* float: left; */
    /* display: inline-block; */
    /* display: flex; */
    width: 80%;
    height: 100%;
    float: left;
}
.card-section{
    overflow: hidden;
    width: 1200px;
    height: 640px;
    position: relative;
    display: flex;
    box-shadow: 2px 5px 2px rgba(0, 0, 0,0.2);
}

.card-button{
    position: absolute;
    display: flex;    
    right: 0;
    bottom: 0;
    background-color: #D8F781;
}
.leftbutton, .rightbutton{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70px;
    height: 80px;
    transition-duration: 0.4s;
}
.leftbutton:hover, .rightbutton:hover{
    transition-duration: 0.4s;
    background-color: #F7BE81;
}
.card-button-img{
    width: 30%;
}
.card-text{
    position: absolute;
    left: 60px;
    bottom: 10px;
    font-size: 80pt;
    z-index: 1;
}
.card-text-p{
    margin-top: -50px;
    font-weight: bold;
    /* text-align: center; */
}
.card{    
    transition-duration: 1s;
    position: absolute;
    width: 100%;
    height: 640px;
    opacity: 0.5;
    /* transform: rotate(-20deg) translate(-30%,-20%); */
    
}
.card2{
    max-width: 20%;
    overflow: hidden;
}

.nav-right{
    float: left;
    width: 10%;
    height: 640px;
    border-top: 1px solid gray;
    position: relative;
}
.nav-right-p{
    /* position: absolute; */
    /* bottom: 0; */
    font-weight: lighter;
    font-size: 50px;
}

.middle{
    overflow: hidden;
    margin-top: 40px;
    width: 1200px;
    height: 100px;    
}




footer{
    bottom: 0;
    left: 400px;
    position: absolute;
    display: flex;
}
.bottom-box{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90px;
    height: 90px;
    background-color: #D8D8D8;
    
}
.bottom-box2{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 20px;
    width: 350px;
    height: 90px;
    background-color: #D8F781;
}
.bottom-img{
    transform: rotate(90deg);
}