html,body{
    width: 100%;
    height:100%;
    padding:0;
    margin: 0;    
}
p{
    margin: 0;
}
.a{
    cursor: pointer;
}
a{
    text-decoration: none;
}
a:visited , a:link{
    text-decoration: none;
}
.hoverscale{
    transition-duration: 0.2s;
    transform: scale(1);
}
.hoverscale:hover{
    transition-duration: 0.2s;
    transform: scale(1.2);
}
.topblank{
    width: 100%;
    height: 60px;
    position: relative;    
}
nav{
    float: left;
    width: 10%;
    height: 100%;
    /* background-color: blue; */
    /* border-right: 1px solid black; */
    display: flex;
    justify-content: center;
    position: relative;
    overflow: hidden;
}
.leftsection{
    width: 100%;    
    flex-direction: column;
    display: flex;
    align-items: center;
    /* height: 1200px; */
    /* background-color: #A9D0F5;     */
    
}
main{
    float: left;
    width: 90%;
    height: 100%;
}
.menubar{
    width: 20px;
    border: 1px solid gray;    
    margin-top: 15px;
}
.menu{
    width: 100%;
    height: 200px; 
    margin-top: 40px;       
}
.left_menu_button{
    height: 25%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #424242;
    /* background-color: #CEE3F6;     */
}
.line{
    margin-top: 4px;
    width: 25px;
    border: 2px solid #424242;
    height: 0.01px;
    border-radius: 999px;
}
.longline{
    width: 0.01px;
    height: 25%;
    border: 1px solid #BDBDBD;
}
#leftp{
    font-weight: bold;
    writing-mode: vertical-rl;;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 20pt;
}

.maincont{
    /* float: left; */
    /* display: inline-block; */
    /* display: flex; */
    width: 78%;
    height: 100%;
    float: left;
}
.card-section{
    margin-top: 60px;
    overflow: hidden;
    width: 1200px;
    height: 630px;
    position: relative;
    /* display: flex; */
    /* display: inline-block; */
    box-shadow: 2px 5px 2px rgba(0, 0, 0,0.2);
}
.slide{
    /* position: absolute; */
}
.card{    
    transition-duration: 0.7s;
    position: absolute;
    width: 1200px;
    height: 640px;
    /* opacity: 0.5; */    
}
#card2,#card3,#card4,#card5 {
    /* display: none; */
    opacity: 0;
}
.card-button{
    position: absolute;
    display: flex;    
    right: 0;
    bottom: 0;
    background-color: rgba(255,255,255,0.9)
}
.leftbutton, .rightbutton{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70px;
    height: 80px;
    transition-duration: 0.4s;
}
.leftbutton:hover, .rightbutton:hover{
    transition-duration: 0.4s;
    background-color: rgba(182,161,156,1)
}
.card-button-img{
    width: 30%;
}
.card-text{
    position: absolute;
    /* left: 60px; */
    bottom: 0px;    
    z-index: 1;
    background-color: rgba(0, 0, 0,0.3);
    width: 500px;
    height: 200px;
    display: flex;
    flex-direction: column;
    font-family: KoreanAGDL;
}
#card-text-p-name{
    font-size: 80pt;
    margin-top: 10px;
    /* font-weight: bold; */
    color: white;
    
    /* text-align: center; */
}
#card-text-p-description{
    color: white;
    margin-left: 20px;
    margin-top: 10px;
    padding-top: 5px;
    border-top: 1px solid white;
    width: 30px;
}
.nav-right{
    float: left;
    width: 15%;
    position: fixed;
    /* border: 1px solid gray; */
    /* position: relative; */
    right: 100px;
}
.left-icon , .right-icon{
    width: 30px;
    height: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
    opacity: 1;
    /* filter: invert(100%); */
}
.left-icon{
    filter:none;
}
.nav-right-top{
    display: flex;
    justify-content: space-around;
    width: 100%;
    /* border: 1px solid gray; */
    /* background-color:  #0B2161; */
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    
}
.nav-right-cont{
    width: 100%;
    margin-top: 5px;
    height: 530px;
    border: 1px solid gray;
}
.nav-right-cont > p{
    text-align: center;
    
}
.nav-right-cont-img{
    width: 200px;
}


.middle{        
    width: 1200px;
    height: 231px; 
    overflow: hidden;   
    z-index: -1;
}
.card-section-next{
    width: 100%;
    filter: brightness(80%);
}




footer{
    bottom: 0;
    width: 100%;    
    height: 100px;
    position: absolute;
    bottom : 0;
    background-color: #0A122A;
}
.bottom-section-p{
    position: absolute;
    bottom: 20px;
    right: 10px;
}
#locale,#copyright{
    font-size: 8pt;
    color: #E6E6E6;
    font-family: KoreanAGDL;
}

    