html,body{
    margin: 0;    
    padding: 0;
    width: 100%;
    height: 100%;
    
}
.back{
    width: 100%;
    height: 100%;
    background: radial-gradient(circle   ,#58ACFA 0%,#2E9AFE ,#2E2EFE 80%);
}
.menubar{
    /* z-index: 2; */
    position: absolute;
    border: 1px solid none;
    width: 500px;
    height: 100%;
    background: rgba(255, 255, 255, 0.6);
    text-align: center;
    overflow: hidden;
    transform: translateX(-500px);
    transition-duration: 0.7s;
    /* border-radius: 0 0 200px 0; */
}
.post_icon{
    position: absolute;
    height: 50px;
    width: 50px;
    right: 10%;
    top: 10%;
    opacity: 0;
    transition-duration: 1s;
    /* border: 1px solid red; */
}
.post_line{
    margin-top: 22px;
    border-radius: 2px;
    position: absolute;
    width: 100%;
    height: 5px; 
    background-color: black;
}
.xl{
    transform: rotate(45deg);
}
.xr{
    transform: rotate(-45deg);
}
.hh{
    margin-top: 80%;
}
.pre_opacity{
    opacity: 1;
    transition-duration: 0.7s;
}
.pre_icon{
    position: absolute;
    height: 50px;
    width: 50px;
    left: 5%;
    top: 10%;
    transition-duration: 0.7s;
    /* z-index: -1; */
}
.a:hover{
    cursor: pointer;
}
.line{
    height: 6px;
    background-color: white;
    margin-top: 7px;
    border-radius: 2px;
    transition-duration: 0.7s;
}
.line--1{
    width: 100%; 
}
.line--2{
    width: 80%;   
}
.line--3{
    width: 60%;   
}
